.logo {
  width: 150px;
  position: absolute;
  margin-top: 0px;
}

/*icono reserva*/
.icono-reserva {
  width: 230px;
  transition-property: all;
  transition-duration: 0.5s;
}
.icono-reserva:hover {
  width: 240px;
  transition-property: all;
  transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .icono-reserva {
    width: 160px;
  }
  .icono-reserva:hover {
    width: 180px;
  }
}

@media (max-width: 425px) {
  .icono-reserva {
    width: 80px;
  }
  .icono-reserva:hover {
    width: 100px;
  }
}

.margen-reserva {
  margin-top: 5rem;
}

.margen-reserva2 {
  margin-top: 320px !important;
}

@media (max-width: 1024px) {
  .margen-reserva {
    z-index: 3 !important;
  }

  .margen-reserva2 {
    z-index: 1030 !important;
  }
}

@media (max-width: 1100px) {
  .margen-reserva2 {
    margin-top: 320px !important;
  }
}

@media (max-width: 600px) {
  .margen-reserva2 {
    margin-top: 340px !important;
  }
}
