body {
  margin: 0;
  padding: 0;
}

.bg-app {
  background-image: url("../src/assets/img/bg-pagina.png");
  background-size: cover;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  position: absolute;
  margin-top: -70px;
}

@media (max-width: 425px) {
  .logo {
    width: 100px;
    position: absolute;
    margin-top: -50px;
  }
}

/*icono reserva*/
.icono-reserva {
  width: 230px;
  transition-property: all;
  transition-duration: 0.5s;
}
.icono-reserva:hover {
  width: 240px;
  transition-property: all;
  transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .icono-reserva {
    width: 160px;
  }
  .icono-reserva:hover {
    width: 180px;
  }
}

@media (max-width: 425px) {
  .icono-reserva {
    width: 80px;
  }
  .icono-reserva:hover {
    width: 100px;
  }
}

.margen-reserva {
  margin-top: 5rem;
}

.margen-reserva2 {
  margin-top: 320px !important;
}

@media (max-width: 1024px) {
  .margen-reserva {
    z-index: 3 !important;
  }

  .margen-reserva2 {
    z-index: 1030 !important;
  }
}

@media (max-width: 1100px) {
  .margen-reserva2 {
    margin-top: 320px !important;
  }
}

@media (max-width: 600px) {
  .margen-reserva2 {
    margin-top: 340px !important;
  }
}

/* Financiamiento */
.bg-financiamiento {
  width: 85%;
  background-color: white;
  border-radius: 0px 50px 50px 5px;
}

.padding-dinamico-financiamiento {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 900px) {
  .padding-dinamico-financiamiento {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 500px) {
  .padding-dinamico-financiamiento {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.foto-equipo {
  width: 300px;
}

/* Formulario */
.btn-enviar {
  background-color: #fff !important;
  width: 55%;
  border-radius: 30px !important;
  color: black;
}

/* View de presentacion  */
.icono-perfil {
  width: 500px;
}

.icono-perfil-margin {
  margin-top: -220px;
}

@media (max-width: 900px) {
  .icono-perfil {
    width: 220px;
  }

  .icono-perfil-margin {
    margin-top: -110px;
  }
}

@media (max-width: 500px) {
  .icono-perfil {
    width: 220px;
  }

  .icono-perfil-margin {
    margin-top: -110px;
  }
}

/* View de equipo */
.icono-equipo {
  width: 100px;
}

.pill-btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.pill-btn:hover {
  background-color: #f1f1f1;
}

.ocultar {
  visibility: hidden !important ;
}

/* Footer */
.icono-footer {
  width: 150px;
  margin-bottom: 1rem;
}
